@model Hotel_Reservation_Manager.Models.Data.Reservation

<body>
    <div class="text-center">
        <h1 class="display-4">Reservation details</h1>
    </div>
    <form class="login">
        <div>
            <input type="text" id="username" value=@Hotel_Reservation_Manager.Controllers.SharedData.GetUsernameAppointer(Model.IDOfAppointer) readonly>
        </div>
        <div>
            <input type="number" id="room_num" value=@Hotel_Reservation_Manager.Controllers.SharedData.GetRoomNumber(Model.RoomID) readonly>
        </div>
        <div>
            <input asp-for="DateOfAccommodation" type="datetime-local" id="dateacc" readonly>
        </div>
        <div>
            <input asp-for="ReleaseDate" type="datetime-local" id="datedis" readonly>
        </div>
        <div>
            <input asp-for="Breakfast" type="checkbox" id="breakfast" disabled>
        </div>
        <div>
            <input asp-for="AllInclusive" type="checkbox" id="allinclusive" disabled>
        </div>
        <div>
            <input asp-for="Price" type="number" step="0.01" id="price" readonly>
        </div>
    </form>
</body>