@model Hotel_Reservation_Manager.Models.Data.User

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hotel Reservation Manager</a>
            </div>
        </nav>
    </header>
    <div class="text-center">
        <h1 class="display-4">Sign into your account</h1>
        <form class="login" asp-area="" asp-controller="SignIn" asp-action="Verify">
            <div class="form-group">
                <input asp-for="Username" type="text" class="form-control" id="username" placeholder="Username">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" id="pwd" placeholder="Password">
            </div>
            <div class="form-group">
                <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group">
                <input asp-for="MiddleName" type="text" class="form-control" id="midname" placeholder="MiddleName">
            </div>
            <div class="form-group">
                <input asp-for="SurName" type="text" class="form-control" id="surname" placeholder="SurName">
            </div>
            <div class="form-group">
                <input asp-for="PersonalID" type="text" class="form-control" id="   " placeholder="Password">
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" id="pwd" placeholder="Password">
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" id="pwd" placeholder="Password">
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" id="pwd" placeholder="Password">
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" id="pwd" placeholder="Password">
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" id="pwd" placeholder="Password">
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" id="pwd" placeholder="Password">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>