@model Hotel_Reservation_Manager.Models.Data.User

<body>
    <div class="text-center">
        <h1 class="display-4">User details</h1>
    </div>
    <form class="login">
            <div class="form-group">
                <input asp-for="Username" type="text" class="form-control" id="username" readonly>
            </div>
            <div class="form-group">
                <input asp-for="Name" type="text" class="form-control" id="name" readonly>
            </div>
            <div class="form-group">
                <input asp-for="MiddleName" type="text" class="form-control" id="midname" readonly>
            </div>
            <div class="form-group">
                <input asp-for="SurName" type="text" class="form-control" id="surname" readonly>
            </div>
            <div class="form-group">
                <input asp-for="PersonalID" type="text" class="form-control" id="psid" readonly>
            </div>
            <div class="form-group">
                <input asp-for="PhoneNumber" type="text" class="form-control" id="phone" readonly>
            </div>
            <div class="form-group">
                <input asp-for="Email" type="text" class="form-control" id="email" readonly>
            </div>
            <div class="form-group">
                <input asp-for="DateOfAppointment" type="datetime-local" class="form-control" id="dapp" readonly>
            </div>
            <a>Active</a>
            <div class="form-group">
                <input asp-for="Active" type="checkbox" id="active" disabled>
            </div>
            <div class="form-group">
                <input asp-for="DateOfAppointment" type="datetime-local" class="form-control" id="dapp" readonly>
            </div>
            <a>Administrator</a>
            <div class="form-group">
                <input asp-for="Administrator" type="checkbox" id="active" disabled>
            </div>
        </form>
</body>