@model Hotel_Reservation_Manager.Models.Data.User

<body>
    <div class="text-center">
        <h1 class="display-4">Edit user</h1>
    </div>
    <div class="login">
        <form class="login" asp-controller="Users" asp-action="EditUser">
            <div class="form-group">
                <input asp-for="Username" type="text" class="form-control" id="username">
            </div>
            <div class="form-group">
                <input asp-for="Name" type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <input asp-for="MiddleName" type="text" class="form-control" id="midname">
            </div>
            <div class="form-group">
                <input asp-for="SurName" type="text" class="form-control" id="surname">
            </div>
            <div class="form-group">
                <input asp-for="PersonalID" type="text" class="form-control" id="psid">
            </div>
            <div class="form-group">
                <input asp-for="PhoneNumber" type="text" class="form-control" id="phone">
            </div>
            <div class="form-group">
                <input asp-for="Email" type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
                <input asp-for="DateOfAppointment" type="datetime-local" class="form-control" id="dapp">
            </div>
            <a>Active</a>
            <div class="form-group">
                <input asp-for="Active" type="checkbox" id="active">
            </div>
            <div class="form-group">
                <input asp-for="DateOfDismissal" type="datetime-local" class="form-control" id="ddis">
            </div>
            <a>Administrator</a>
            <div class="form-group">
                <input asp-for="Administrator" type="checkbox" id="active">
            </div>
            <input type="hidden" asp-for="Id" value=@Model.Id>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>