@model Hotel_Reservation_Manager.Models.Data.Room

<body>
    <div class="text-center">
        <h1 class="display-4">Room details</h1>
    </div>
    <form class="login">
        <div class="form-group">
            <input asp-for="Number" type="number" class="form-control" id="number" readonly>
        </div>
        <div class="form-group">
            <input asp-for="Capacity" type="number" class="form-control" id="cap" readonly>
        </div>
        <div class="form-group">
            <input asp-for="Type" type="text" class="form-control" id="type" readonly>
        </div>
        <div class="form-group">
            <input asp-for="PriceForBedAdult" type="number" step="0.01" class="form-control" id="price_ad" readonly>
        </div>
        <div class="form-group">
            <input asp-for="PriceForBedAdult" type="number" step="0.01" class="form-control" id="price_ad" readonly>
        </div>
    </form>
</body>