@model Hotel_Reservation_Manager.Models.Data.Room

<body>
    <div class="text-center">
        <h1 class="display-4">Edit room</h1>
    </div>
    <div class="login">
        <form class="login" asp-controller="Rooms" asp-action="EditRoom">
            <div class="form-group">
                <input asp-for="Number" type="number" class="form-control" id="number">
            </div>
            <div class="form-group">
                <input asp-for="Capacity" type="number" class="form-control" id="cap">
            </div>
            <div class="form-group">
                <select asp-for="Type" class="form-control" id="Type">
                    <option value="Single bed">Single bed</option>
                    <option value="Two bed">Two bed</option>
                    <option value="Mesaunet">Mesaunet</option>
                    <option value="Appartment">Appartment</option>
                </select>
            </div>
            <div class="form-group">
                <input asp-for="PriceForBedAdult" type="number" step="0.01" class="form-control" id="price_ad">
            </div>
            <div class="form-group">
                <input asp-for="PriceForBedAdult" type="number" step="0.01" class="form-control" id="price_ad">
            </div>
            <input type="hidden" asp-for="Id" value=@Model.Id>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>