@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Clients menu</h1>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            </tr>
        </thead>
        @if (Model != null){
            @foreach(var client in Model){
            
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                            <td>@client.Name</td>
                            <td>@client.SirName</td>
                            <td>@client.Email</td>
                    </tr>
                </tbody>

            }
        }
    </table>
</body>