@model dynamic
@using Hotel_Reservation_Manager.Models

@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Reservation menu</h1>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            </tr>
        </thead>
        @if (Model != null){
            @foreach(var reservation in Model){
            
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                            <td>@Hotel_Reservation_Manager.Controllers.SharedData.GetRoomID(@reservation.RoomID)</td>
                            <td>@reservation.AllInclusive</td>
                            <td>@reservation.DateOfAccommodation</td>
                    </tr>
                </tbody>

            }
        }
    </table>
</body>